* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    background-color: black;
    color: white;
    padding-left: 30px;
    font-size: 40px;
}

.header {
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

#main {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 800px;
    height: 700px;
    padding: 20px;
}

a {
    color: cornflowerblue;
}

.profile {
    margin: 0 auto;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 3px solid black;
    font-size: 20px;
}

.profile img {
    width: 100px;
    margin: 30px;
}

.profile h2 {
    padding-top: 30px;
}

.feeds {
    display: flex;
    flex-direction: column;
}

.feedbox {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    height: 125px;
    margin-bottom: 20px;
    padding: 20px;
}

.feedbox h2 {
    margin-right: 300px;
    margin-bottom: 10px;
    width: 70px;
}

.likesplit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    background-color: #ffc107;
    border-color: black;
    width: 45px;
    height: 30px;
    box-shadow: 2px 2px black;
}

.feedbox p {
    font-size: 22px;
}